{% extends 'base.html' %}

{% block 'jumbotron' %}
	<div class="jumbotron">
      <div class="container">
		<p style="text-align: center"> Hi there ! I am an engineering undergraduate in my final year of studies and this is my web log diary. 
			The articles are centered around religious events in the past, sports and personal travel experiences. Will keep including pictures wherever possible.
			Feel free to skim through the articles. Comments and suggestions can be sent
		 <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">here</a></p>
		<p style="text-align:center"><a class="btn btn-primary btn-lg" href='{% url "home" %}' role="button">Go to Home</a></p>
      </div>
    </div>
{% endblock %}


{% block 'threeColumns' %}

{% endblock %}